#main-container{
    padding: 16px;
    background-color: white;
    border-radius: 4px;
}
#header-text{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
#seperator{
    height: 1px;
    width: 100%;
    background-color: grey;
    margin: 8px 0px;
}
.ip-field{
    padding: 8px;
    width: 256px;
    margin-bottom: 8px;
    display: block;
}
button{
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(92, 184, 92);
    color: white;
}
button:disabled{
    cursor: not-allowed;
    background-color: rgba(92, 184, 92, 0.5);
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error-msg{
    background-color: rgba(241, 148, 138, 0.3);
    border-radius: 4px;
    text-align: center;
    color: red;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
}