#main-container{
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    width: 304px;
    box-sizing: border-box;
}
#header-text{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
#seperator{
    height: 1px;
    width: 100%;
    background-color: grey;
    margin: 8px 0px;
}
.ip-field{
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    width: 100%;
    display: block;
}
button{
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(92, 184, 92);
    color: white;
}
button:disabled{
    cursor: not-allowed;
    background-color: rgba(92, 184, 92, 0.5);
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
#error-msgs-container{
    background-color: rgba(241, 148, 138, 0.3);
    border-radius: 4px;
    text-align: justify;
    padding: 8px;
    margin-bottom: 8px;
}
.error-msg{
    color: red;
    font-size: 10px;
    font-weight: 600;
    margin: 0px;
}
ul{
    margin: 0px;
    padding-left: 20px;
}
@media screen and (min-width: 768px) {
    #main-container{
        padding: 16px;
        background-color: white;
        border-radius: 4px;
        width: 320px;
        box-sizing: content-box;
    }
    .error-msg{
        font-size: 12px;
    }
}