#main-container{
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
    text-align: center;
}
#error-text{
    font-size: 72px;
    font-weight: 600;
    display: block;
}
button{
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #28B463;
    border-radius: 4px;
    color: white;
    margin-bottom: 8px;
} 