<div id="main-container">
    <div id="form-container">
        <form (ngSubmit)="createNewParkingLot(f)" #f="ngForm">
            <p id="header-text">Create a new parking lot</p>
            <div id="seperator"></div>
            <p *ngIf="showErrorMsg" id="error-msg" [innerHTML]="errorMsg"></p>
            <label>No. of parking slots</label>
            <input type="number" name="noOfSlots" ngModel required>
            <label>No. of cars parked</label>
            <input type="number" name="noOfCars" ngModel required>
            <button [disabled]="!f.valid" id="submit-btn" type="submit">Create</button>
        </form>
    </div>
</div>