<div *ngIf="showParkCarPopup" (click)="closePopup()" class="popup">
    <app-add-car (newCarAdded)="closePopup()"></app-add-car>
</div>
<div id="main-container">
    <div id="stats-container">
        <table style="width: 100%;">
            <tr>
                <td class="stats-cell-1">Total parking slots</td>
                <td class="stats-cell-2">:</td>
                <td class="stats-cell-3">{{totalSlots}}</td>
            </tr>
            <tr>
                <td class="stats-cell-1">Available parking slots</td>
                <td class="stats-cell-2">:</td>
                <td class="stats-cell-3">{{availableSlots}}</td>
            </tr>
        </table>
    </div>
    <div id="btns-container">
        <button id="query-btn">Query Data</button> 
        <button (click)="showParkCar()" id="park-btn">Park a car</button>
    </div>
    <div id="seperator"></div>
    <div id="parking-details-filters">
        <form (ngSubmit)="searchCars(f)" #f="ngForm">
            <input class="ip-field" type="text" name="regNo" placeholder="Vehicle Reg. No" ngModel>
            <select name="color" id="color-select" class="ip-field" [ngModel]="selectedColor">
                <option value="red">Red</option>
                <option value="red">Green</option>
                <option value="red">Blue</option>
                <option value="default" selected disabled hidden>Choose color</option>
            </select>
            <button id="search-btn" type="submit">Search</button> 
            <button id="reset-btn" type="button" (click)="resetFilters(f)">Reset</button>
        </form>
    </div>
    <div id="parking-details-container">
        <table style="width: 100%;">
            <tr>
                <th>#</th>
                <th>Vehicle No</th>
                <th>Color</th>
                <th>Slot No</th>
                <th>Date & Time</th>
                <th></th>
            </tr>
            <tr *ngFor="let car of carsParked; let i = index;">
                <td class="car-details-cell">{{i + 1}}</td>
                <td class="car-details-cell">{{car.vehicleNo}}</td>
                <td class="car-details-cell">{{car.color}}</td>
                <td class="car-details-cell">{{car.slotNo}}</td>
                <td class="car-details-cell">{{car.inTime | date: 'dd MMM yyyy, hh:mm a'}}</td>
                <td class="car-details-cell"><button id="remove-btn" (click)="removeCar(i)">Remove</button></td>
            </tr>
        </table>
    </div>
</div>