<div *ngIf="showParkCarPopup" (click)="closePopup()" class="popup">
    <app-add-car (newCarAdded)="closePopup()"></app-add-car>
</div>
<div *ngIf="showParkingHistory" class="popup" (click)="closePopup()">
    <app-parking-history></app-parking-history>
</div>
<div id="main-container">
    <div id="stats-container">
        <table style="width: 100%;">
            <tr>
                <td class="stats-cell-1">Total parking slots</td>
                <td class="stats-cell-2">:</td>
                <td class="stats-cell-3">{{totalSlots}}</td>
            </tr>
            <tr>
                <td class="stats-cell-1">Available parking slots</td>
                <td class="stats-cell-2">:</td>
                <td class="stats-cell-3">{{availableSlots}}</td>
            </tr>
        </table>
    </div>
    <div id="btns-container">
        <button (click)="showParkingLogs()" id="query-btn">Query Data</button> 
        <button (click)="showParkCar()" id="park-btn">Park a car</button>
    </div>
    <div id="seperator"></div>
    <div id="parking-details-filters">
        <form (ngSubmit)="searchCars(f)" #f="ngForm">
            <input class="ip-field" type="text" name="regNo" placeholder="Vehicle Reg. No" #regNo="ngModel" ngModel>
            <select name="color" id="color-select" class="ip-field" [ngModel]="selectedColor">
                <option value="default" selected>Choose color</option>
                <option *ngFor="let color of listCarColorsInParking" [value]="color">{{color}}</option>
            </select>
            <button id="search-btn" type="submit">Search</button> 
            <button id="reset-btn" type="button" (click)="resetFilters(f)">Reset</button>
        </form>
    </div>
    <div id="parking-details-container">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="cursor: default;">#</th>
                    <th (click)="sortCars('vehicleNo')">
                        <div *ngIf="sortState == null || (sortState && sortState.header !== 'vehicleNo')" class="double-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Vehicle No</p>
                            <div style="display: inline-block;">
                                <img style="margin-top: 3px;" src="assets/svg/caret-arrow-up.svg">
                                <img src="assets/svg/caret-down.svg">
                            </div>
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'vehicleNo') && sortState.type == 1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Vehicle No</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-arrow-up.svg">
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'vehicleNo') && sortState.type == -1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Vehicle No</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-down.svg">
                        </div>
                    </th>
                    <th (click)="sortCars('color')">
                        <div *ngIf="sortState == null || (sortState && sortState.header !== 'color')" class="double-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Color</p>
                            <div style="display: inline-block;">
                                <img style="margin-top: 3px;" src="assets/svg/caret-arrow-up.svg">
                                <img src="assets/svg/caret-down.svg">
                            </div>
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'color') && sortState.type == 1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Color</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-arrow-up.svg">
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'color') && sortState.type == -1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Color</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-down.svg">
                        </div>
                    </th>
                    <th (click)="sortCars('slotNo')">
                        <div *ngIf="sortState == null || (sortState && sortState.header !== 'slotNo')" class="double-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Slot No</p>
                            <div style="display: inline-block;">
                                <img style="margin-top: 3px;" src="assets/svg/caret-arrow-up.svg">
                                <img src="assets/svg/caret-down.svg">
                            </div>
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'slotNo') && sortState.type == 1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Slot No</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-arrow-up.svg">
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'slotNo') && sortState.type == -1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Slot No</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-down.svg">
                        </div>
                    </th>
                    <th (click)="sortCars('date')">
                        <div *ngIf="sortState == null || (sortState && sortState.header !== 'date')" class="double-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Date & Time</p>
                            <div style="display: inline-block;">
                                <img style="margin-top: 3px;" src="assets/svg/caret-arrow-up.svg">
                                <img src="assets/svg/caret-down.svg">
                            </div>
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'date') && sortState.type == 1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Date & Time</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-arrow-up.svg">
                        </div>
                        <div *ngIf="sortState && (sortState.header === 'date') && sortState.type == -1" class="single-caret-container">
                            <p style="display: inline-block; margin: 0px; vertical-align: top;">Date & Time</p>
                            <img style="margin-top: 5.5px;" src="assets/svg/caret-down.svg">
                        </div>
                    </th>
                    <th style="cursor: default;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of filteredCarsParked; let i = index;">
                    <td class="car-details-cell">{{i + 1}}</td>
                    <td class="car-details-cell">{{car.vehicleNo}}</td>
                    <td class="car-details-cell">{{car.color}}</td>
                    <td class="car-details-cell">{{car.slotNo}}</td>
                    <td class="car-details-cell">{{car.inTime | date: 'dd MMM yyyy, hh:mm a'}}</td>
                    <td class="car-details-cell"><button id="remove-btn" (click)="removeCar(i)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>